.header {
    padding: 25px 0 77px;
    font-family: 'Inter';
    font-style: normal;
}
.header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
}
.logo {
    display: flex;
    margin-top: 25px;
    margin-bottom: 40px;
    align-items: center;
}
.logo__item:not(:last-child){
    margin-right: 8px;
}