/* Стилизация кнопки */
:root {
    --blue-1: #4263EB;
    --blue-2: #2342C0;
    --purple-1:#7048E8;
    --purple-2:#5028C6;
    --grey-1: #495057;
    --grey-2:#ACB5BD;
    --black:#212429;
}
.button{
    box-sizing: border-box;
    border-radius: 8px;
    border:0px;
    padding: 15px 65px 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}
.button_primary {
    background-color: var(--blue-1)
}
.button_primary:hover {
    background-color: var(--blue-2);
}
.button:disabled{
    opacity: 0.5;
    pointer-events: none;
 }
.button_secondary {
    background-color: var(--purple-1)
}
.button_secondary:hover {
    background-color: var(--purple-2);
}
.button_alternate {
    background-color: var(--white);
    color: var(--grey-1);
    border: 1px solid var(--grey-2) ;
}
.button_alternate:hover {
    background-color: none;
    border: 1px solid var(--black);
}
