/* Стилизация кнопки */
.button{
    box-sizing: border-box;
    border-radius: 8px;
    border:0px;
    padding: 15px 65px 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
    --button-primary: #4263EB;
    --button-primary-hover: #2342C0;
    --button-secondary:#7048E8;
    --button-secondary-hover:#5028C6;
    --button-alternate:#ACB5BD;
    --button-alternate-hover:#212429;
}
.button_primary {
    background-color: var(--button-primary)
}
.button_primary:hover {
    background-color: var(--button-primary-hover);
}
.button:disabled{
    opacity: 0.5;
    pointer-events: none;
 }
.button_secondary {
    background-color: var(--button-secondary)
}
.button_secondary:hover {
    background-color: var(--button-secondary-hover);
}
.button_alternate {
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--button-alternate) ;
}
.button_alternate:hover {
    background-color: none;
    border: 1px solid var(--button-alternate-hover);
}
