.button {
    background: #4263EB;
    border-radius: 8px;
    padding: 15px 52px 14px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
} 
.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
.modal__window {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    padding: 30px 40px 33px;
    background-color: var(--white);
    border-radius: 8px;
    width: 428px;
}
.modal__header {
    position: relative;
    margin-bottom: 14px;
}
.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--grey-5);

}
.modal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.modal__body {
}
.modal__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4)
}