<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <link rel="stylesheet" href="./tepmlate.css">
</head>
<body>
    <div class="page">
        <div class="page__header"></div>
        <div class="page__main">
            <div class="page__container">
                    <nav class="menu">
                        <div class="menu__title">
                            Components
                        </div>
                        <ul class="menu__list">
                            <li><a href="" class="menu__link">Modal</a></li>
                            <li><a href="" class="menu__link">Tooltip</a></li>
                            <li><a href="" class="menu__link">Avatar</a></li>
                            <li><a href="" class="menu__link">Calendar</a></li>
                            <li><a href="" class="menu__link menu__link_active">Histogram</a></li>
                            <li><a href="" class="menu__link">Custom form elements</a></li>
                            <li><a href="" class="menu__link">Main page</a></li>
                        </ul>
                    </nav>
                <div class="component">
    
                </div>
            </div>
        </div>
        <div class="page__footer footer">
            <div class="footer__title">
                Reusable component library
            </div>
        </div>
    </div>
</body>
</html>