<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <link rel="stylesheet" href="./tepmlate.css">
</head>
<body>
    <div class="page">
        <div class="page__header"></div>
        <div class="page__main">
            <div class="menu">

            </div>
            <div class="component">

            </div>
        </div>
        <div class="page__footer footer">
            <div class="footer__title">
                Reusable component library
            </div>
        </div>
    </div>
</body>
</html>