.radio__input {
    position: absolute;
    opacity: 0;
}
.radio__input:checked ~ .radio__state .radio__selected {
    background-color: var(--blue-1);
}
.radio__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap:12px
}
.radio__control {
    box-sizing: border-box;
    background-color: var(--white);
    border: 2px solid var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio__selected {
    width: 18px;
    height: 18px;
    border-radius: 14px;
}
.radio__title {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}
.radio__input:disabled ~ .radio__state .radio__control {
    background-color: var(--grey-2);
}
.radio__input:disabled ~ .radio__state .radio__icon {
    display: none;
}
.radio__input:disabled ~ .radio__state .radio__title {
    color: var(--grey-2);;
}
.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}