.calendar {
    font-family: 'Inter';
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background-color: var(--white);
    width: 100%;
    max-width: 300px;
    padding: 28px 36px 40px;
}
.calendar__title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    margin-bottom: 24px;
}
.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
}
.inner_calendar {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.calendar__item {
   display: flex;
   justify-content: center;
   align-items: center;
}
.calendar__item_day {
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
    text-align: center;
}
.calendar__item_number {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 16px;
    color: #334D6E;
    text-align: center;
    min-width: 36px;
    min-height: 36px;
}
.range {   
    background: #A0B1F5;
    opacity: 0.2;
}
.calendar__item_margin{
    background-color: #4263EB;
}
.calendar__item_range{
    background-color: #A0B1F5;
    opacity: 0.2;
}