.skeleton {
    padding: 24px 40px 32px 24px; 
    max-width: 579px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
}
.skeleton__header {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.sceleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
    margin-right: 16px;
}
.skeleton__line {
    max-width: 517px;
    height: 20px;
    background-color: var(--grey-2);
    margin-bottom: 8px;
}
.skeleton__line_title {
    width: 172px;
    margin-bottom: 8px;
}
.skeleton__line_subtitle {
    width: 257px;
}
