.footer {
    padding: 71px 0 36px;
    font-family: 'Inter';
    font-style: normal;
    color: var(--black);
}
.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 32px;
    text-align: center;
}
.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}