form {
    display: flex;
    align-items: center;
    gap: 20px;
}
.checkbox__input {
    position: absolute;
    opacity: 0;
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
background-color: var(--blue-1);
}
.checkbox__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap:12px
}
.checkbox__control {
    box-sizing: border-box;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox__title {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background-color: var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__icon {
    display: none;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--grey-2);;
}
.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}